body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

main {
  max-width: 1024px;
  margin: auto;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

@media screen and (min-width: 944px) {
  main {
    margin-top: 60px;
  }
}

.bouton {
  margin: 20px 0;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.bouton div {
  background-image: linear-gradient(350deg, #9356DC, #FF79DA);
  width: 13rem;
  height: 3rem;
  line-height: 3rem;
  border-radius: 30px;
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}

.bouton div:hover {
  background-image: linear-gradient(350deg, #a16be0, #ff93e1);
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
          box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}

.heart {
  position: relative;
  cursor: pointer;
  font-size: 1.5em;
}

.heart .heart--active {
  display: none;
  position: absolute;
  top: 0;
}

.heart .heart--active i {
  position: absolute;
  background: -webkit-linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heart:hover .heart--active {
  display: block;
  -webkit-animation: heart--active 500ms ease;
          animation: heart--active 500ms ease;
}

.heart:hover .heart--normal {
  -webkit-animation: heart--normal 500ms ease forwards;
          animation: heart--normal 500ms ease forwards;
}

@-webkit-keyframes heart--active {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes heart--active {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes heart--normal {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes heart--normal {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.footer {
  background-color: #353535;
  color: #fff;
  margin: 0;
  padding: 20px;
}

.footer__logo {
  -webkit-filter: invert(100%);
          filter: invert(100%);
  width: 100px;
}

.footer__container {
  max-width: 944px;
  margin: auto;
}

.footer figure {
  margin: 10px 0;
}

.footer ul {
  padding: 0;
}

.footer ul li {
  margin: 0.5em 0;
}

.footer ul li a {
  display: inline;
  margin: 0;
  color: white;
}

.footer ul li div {
  width: 2em;
}

.footer--icone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header {
  -webkit-box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.2);
  max-width: 944px;
  width: 100%;
  background: white;
  z-index: 2;
}

header figure {
  margin: 0;
  padding: 15px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header figure img {
  height: 30px;
  margin: auto;
  display: block;
}

header figure figcaption {
  position: absolute;
  font-size: 20px;
  margin: 20px;
}

@media screen and (min-width: 944px) {
  header {
    margin-top: -30px;
    border-radius: 1em;
    position: absolute;
    left: 50%;
    right: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.loader {
  background-color: white;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: loader 1s 3s forwards;
          animation: loader 1s 3s forwards;
}

.loader__container {
  font-family: 'Shrikhand';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-animation: loader-container 3s ease forwards;
          animation: loader-container 3s ease forwards;
}

.loader__container span {
  -webkit-animation: loader-text 1s ease-in-out infinite;
          animation: loader-text 1s ease-in-out infinite;
  color: #9356DC;
  font-size: 40px;
}

.loader__container span:nth-child(1) {
  -webkit-animation-delay: 70ms;
          animation-delay: 70ms;
}

.loader__container span:nth-child(2) {
  -webkit-animation-delay: 140ms;
          animation-delay: 140ms;
}

.loader__container span:nth-child(3) {
  -webkit-animation-delay: 210ms;
          animation-delay: 210ms;
}

.loader__container span:nth-child(4) {
  -webkit-animation-delay: 280ms;
          animation-delay: 280ms;
}

.loader__container span:nth-child(5) {
  -webkit-animation-delay: 350ms;
          animation-delay: 350ms;
}

.loader__container span:nth-child(6) {
  -webkit-animation-delay: 420ms;
          animation-delay: 420ms;
}

.loader__container span:nth-child(7) {
  -webkit-animation-delay: 490ms;
          animation-delay: 490ms;
}

.loader__container span:nth-child(8) {
  -webkit-animation-delay: 560ms;
          animation-delay: 560ms;
}

@-webkit-keyframes loader {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0;
    height: 100%;
  }
  100% {
    opacity: 0;
    height: 0;
  }
}

@keyframes loader {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0;
    height: 100%;
  }
  100% {
    opacity: 0;
    height: 0;
  }
}

@-webkit-keyframes loader-text {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0em, -0.7em);
            transform: translate(0em, -0.7em);
    color: #FF79DA;
  }
  100% {
    -webkit-transform: translateY(0, 0);
            transform: translateY(0, 0);
    color: #9356DC;
  }
}

@keyframes loader-text {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0em, -0.7em);
            transform: translate(0em, -0.7em);
    color: #FF79DA;
  }
  100% {
    -webkit-transform: translateY(0, 0);
            transform: translateY(0, 0);
    color: #9356DC;
  }
}

.entete {
  text-align: center;
}

.entete__location {
  background-color: #EAEAEA;
  padding: 5px;
}

.entete__location form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2px 0;
}

.entete__location form input {
  background: transparent;
  border: 0;
  width: 90px;
  padding: 10px;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}

.entete__location form input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.8);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.entete__location form input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.8);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.entete__location form input::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.8);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.entete__location form input::placeholder {
  color: rgba(0, 0, 0, 0.8);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.entete__location form input:focus {
  background: white;
  outline: none;
  width: 300px;
  -webkit-box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.2);
  border-radius: .5em;
}

.entete__location form button {
  background: transparent;
  border: 0;
  cursor: pointer;
}

.entete__location form button i {
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
  font-size: 1.2em;
}

.entete__location form button i:hover {
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  background: linear-gradient(350deg, #9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.entete__explore {
  background-color: #F6F6F6;
  padding: 30px 20px;
}

.entete__explore h1 {
  margin: 0;
}

.entete__explore p {
  color: #595959;
  font-weight: 300;
  margin-bottom: 30px;
}

.fonctionnement {
  padding: 0 4%;
  padding: 30px;
  max-width: 884px;
  margin: auto;
}

.fonctionnement__box {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fonctionnement__box--offset {
  background-color: red;
  width: 10px;
}

.fonctionnement__box__icone {
  background-color: #9356DC;
  border-radius: 50%;
  height: 20px;
  aspect-ratio: 1;
  font-size: 0.7rem;
  color: white;
  position: absolute;
}

.fonctionnement__box__icone p {
  text-align: center;
  margin: 0;
  line-height: 2em;
}

.fonctionnement__box__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: #F6F6F6;
  border-radius: 1em;
  height: 70px;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.fonctionnement__box__container i {
  color: #666666;
  margin: 0 20px 0 30px;
}

.fonctionnement__box__container:hover {
  background-color: #f2eafb;
}

.fonctionnement__box__container:hover i {
  color: #9356DC;
}

.restaurants {
  background-color: #F6F6F6;
  padding: 0 4%;
  padding-bottom: 40px;
  margin: 0;
}

.restaurants h2 {
  margin-top: 0;
  padding-top: 40px;
}

.restaurants__box {
  margin: 0 0 20px 0;
  display: block;
  color: black;
  border-radius: 1em;
  overflow: hidden;
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  position: relative;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}

.restaurants__box:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.restaurants__box figure {
  margin: 0;
}

.restaurants__box figure img {
  height: 180px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.restaurants__box figure figcaption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 15px;
}

.restaurants__box figure figcaption h3 {
  margin: 0;
}

.restaurants__box figure figcaption p {
  margin: 5px 0;
  color: #666666;
  font-weight: 300;
}

.restaurants__box__nouveau {
  display: none;
  background: green;
}

.restaurants__box__nouveau--active {
  display: block;
  position: absolute;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
  font-weight: 500;
  border-radius: 0.2em;
  padding: 0.3em 1em;
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  background: #99E2D0;
  color: #278870;
  top: 0.7em;
  right: 0.7em;
}

@media screen and (min-width: 600px) {
  .fonctionnement {
    background-color: white;
  }
  .fonctionnement__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .fonctionnement__box {
    width: 30%;
  }
  .restaurants {
    margin-bottom: 40px;
  }
  .restaurants--container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -2%;
  }
  .restaurants__box {
    width: 46%;
    margin: 2%;
  }
}

@media screen and (min-width: 944px) {
  .loader {
    margin-top: -60px;
    font-size: 4em;
  }
  .loader__container {
    margin-top: -60px;
  }
  .entete__location {
    height: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .entete__location div {
    -webkit-box-shadow: 0 0 inset;
            box-shadow: 0 0 inset;
  }
  .fonctionnement {
    border-radius: 1em;
    position: relative;
    top: -20px;
    margin-bottom: -40px;
    -webkit-box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.2);
  }
}

.image__restaurant {
  position: relative;
  margin: 0;
  z-index: 1;
}

.image__restaurant div {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-box-shadow: 0 20px 10px -10px rgba(0, 0, 0, 0.6) inset;
          box-shadow: 0 20px 10px -10px rgba(0, 0, 0, 0.6) inset;
}

.image__restaurant img {
  width: 100%;
  height: 70vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu {
  background-color: #F6F6F6;
  border-radius: 35px 35px 0 0;
  position: relative;
  top: -50px;
  padding: 10px 4%;
  padding-bottom: 40px;
  max-width: 844px;
  margin: auto;
  z-index: 1;
}

.menu article {
  margin-bottom: 40px;
  opacity: 0;
  -webkit-animation: box-introduction 1s ease-out forwards;
          animation: box-introduction 1s ease-out forwards;
}

.menu article:nth-child(1) {
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}

.menu article:nth-child(2) {
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}

.menu article:nth-child(3) {
  -webkit-animation-delay: 900ms;
          animation-delay: 900ms;
}

.menu__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.menu h1 {
  font-family: 'Shrikhand', serif;
  font-size: 2em;
}

.menu h2 {
  font-weight: 300;
  font-size: 1em;
  margin: 0;
}

.menu__line {
  display: block;
  margin-top: 5px;
  height: 3px;
  width: 40px;
  background-color: #99E2D0;
}

.menu__box {
  background-color: #fff;
  margin-top: 15px;
  border-radius: 0.8em;
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
}

.menu__box--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 130%;
  -webkit-transition: all 300ms cubic-bezier(0.25, 0, 0.25, 1);
  transition: all 300ms cubic-bezier(0.25, 0, 0.25, 1);
}

.menu__box--container:hover {
  width: 100%;
}

.menu__box--container:hover .menu__box__check i {
  -webkit-animation: check 400ms 100ms ease forwards;
          animation: check 400ms 100ms ease forwards;
}

.menu__box__text {
  width: 80%;
  white-space: nowrap;
  overflow: hidden;
  padding: 10px;
}

.menu__box__text h3 {
  margin: 0;
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
}

.menu__box__text p {
  font-size: 0.9em;
  margin: 0.5em 0 0 0;
  font-weight: 300;
  text-overflow: ellipsis;
  overflow: hidden;
}

.menu__box__price {
  margin: 0;
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-weight: 500;
  padding: 10px;
}

.menu__box__check {
  /*display: none;*/
  width: 30%;
  background-color: #99E2D0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 1.2em;
}

@-webkit-keyframes box-introduction {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes box-introduction {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes check {
  0% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes check {
  0% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@media screen and (min-width: 600px) {
  .menu__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .menu article {
    width: 45%;
  }
}

@media screen and (min-width: 944px) {
  .image__restaurant div {
    -webkit-box-shadow: 0 0 0 inset;
            box-shadow: 0 0 0 inset;
  }
  .menu {
    -webkit-box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.2);
    border-radius: 35px;
    padding: 10px 50px;
  }
  .menu article {
    width: 30%;
  }
}
