@mixin background-color-adjust($color:$color-primary){
    background-color: $color;
}
@mixin page-width-padding($padding-top:0){
    padding: ($padding-top) 4%
}
@mixin box-box-shadow($opacity:0.2){
    box-shadow: 2px 2px 10px hsla(0, 0, 0, ($opacity));
}