$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-background: #F6F6F6;

$text-color-light: #fff;
$text-color-grey: hsl(0,0,40%);

$color-validation-nouveau: #99e2d0;