header{
    box-shadow: 0 0 20px 2px hsla(0, 0, 0, 0.2);
    max-width: 944px;
    width: 100%;
    background: white;
    z-index: 2;
    figure{
        margin: 0;
        padding: 15px 0;
        width: 100%;
        display: flex;
        align-items: center;
        img{
            height: 30px;
            margin: auto;
            display: block;
        }
        figcaption{
            position: absolute;
            font-size: 20px;
            margin: 20px;
        }
    }
}
@media screen and (min-width:944px) {
    header{
        margin-top: -30px;
        border-radius: 1em;
        position: absolute;
        left: 50%;
        right: 50%;
        transform: translateX(-50%);
    }
}